*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}
body{
	font-family: 'Lato', sans-serif;
}
ul {
	list-style-type: none;
}
#sidenav{
	height: 100vh;
	background-color: #49C9AF;
}
ul li a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}
ul li a:hover{
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
}
h2 a{
	color: black;
	text-decoration: none;
}
h2 a:hover{
	color: white;
	text-decoration: none;
}